.container {
     background-color:white;
     width: 80%;
     display: flex;
     margin: 0 auto;
     box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     margin-top: 60px;
     margin-bottom: 30px;
}

.leftContainer {
     width: 50%;
     padding: 60px 60px 30px 30px;
     position: relative;
}

.leftContainer img {
     border-radius: 10px;
}

.displayFlex {
     display: flex;
}

.userInfo {
     padding-left: 50px;
     padding-top: 10px;
}

.userInfoKey {
     font-size: 17px;
     font-weight: 600;
}

.title1{
     font-size: 20px;
     font-weight: 600;
}

.aboutTitle {
     position: relative;
     font-size: 28px;
     font-weight: 600;
     /* width: 15%; */
}

.aboutTitle::before {
     content: "";
     background-color: #0078ff;
     height: 3px;
     position: absolute;
     width: 100px;
     bottom: 0;
     left: 0;
}

.leftContainer p {
     padding-top: 20px;
}
