.container {
     background-color:white;
     width: 80%;
     margin: 0 auto;
     margin-top: 60px;
     margin-bottom: 30px;
}

.head {
     width: 100%;
     position: relative;
}

.title {
     font-size: 20px;
     font-weight: bold;
     text-transform: uppercase;
}

.lineMf {
     width: 100px;
     height: 3px;
     background-color: #0078ff;
     margin-top: 2px;
}
